* { 
    margin : 0 auto;
    color : #222; 
    background : white; 
    font-family : 'Montserrat', sans-serif;
}
h1 {
    text-align: center;
    font-size: 40px;
    font-family: 'Bebas Neue', cursive;;
    margin: 0;
    color: orangered;
    padding: 10px;


}
h2 {
    text-align: center;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}
body{
    margin: 0;
    padding: 0;
    font-size: 25px;
}

.container{
    width: 100%;
    margin: 50px auto;
}

.content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: start;
    align-content: start
  }
.item {
flex: 0 0 auto;
width: 26%;
height: 80vh;
margin: 2%;
border: 1px solid #222;
border-radius: 3px;
text-align: center;
padding: 20px;


  }


.item .img{
    min-height: 350px;
    width: 80%;
    background-size: cover;
}

.btn button {
    flex: 0 0 auto;
    display: block;
    margin: 150px auto 0;
    font-size: 30px;
    font-weight: lighter;
    color: #333;
    padding: 25px 80px;
    background: orangered;
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 3px;
    position: relative;
    box-shadow: 0 6px orangered;
    /*bottom: 30px;*/
}
.btn button a{
    text-decoration: none;
    color:#222;
    background: orangered;
}
.btn button:hover{
    box-shadow: 0 4px orangered;
    top: 2px;
}
.btn button:active{
    box-shadow: 0 0 chocolate;
    top: 6px;
}




@media screen and (max-width:1300px){
    .contenair {
        width: 700px;
        flex-wrap: wrap;
    }
    .contenu,.item{
        width: 40%;
        margin: 0 0;
    }
    .btn button{
        width: 40%;
        margin: 0 0;
    }
   
}

@media screen and (max-width:800px){
    .contenair {
        width: 700px;
        flex-wrap: wrap;
    }
    .contenu,.item{
        width: 40%;
        margin: 0 0;
    }
    .btn button{
        width: 40%;
        margin: 0 0;
    }
}