* { 
    margin : 0 auto;
    color : #222; 
    background : white; 
    font-family : 'Montserrat', sans-serif;
}
h1 {
    text-align: center;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    color: orangered;


}
h2 {
    text-align: center;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}
body{
    margin: 0;
    padding: 0;
    font-size: 40px;
}

.container{
    width: 100%;
    margin: 50px auto;
}

.content{

        display: flex;
        flex-wrap: wrap;
        flex-direction: row-reverse;
        justify-content: space-around;
        align-items: start;
        align-content: start
}
.item {

        flex: 0 0 auto;
        margin: 2px;
        width: 26%;
        height: 80vh;
        border: 1px solid #222;
        border-radius: 3px;
        text-align: center;
        padding: 20px;
}
.content .item .img img{
    width: 80%;
}

.content .item .marque, .nom,.categ,.prix,.descriptif,.promo{
    text-align: justify;
}


/*pour rendre notre site responsive aux écrans plus petits que 700 px*/
@media screen and (max-width: 700px){
    .container{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 0.5fr 6fr 2fr 0.5fr;
        grid-template-areas: 
        "logo . . "
        "nav"
        "content"
        "feature"
        "footer"
        ;
    }
}
/*pour rendre notre site responsive aux écrans plus petits que 700 px*/
@media screen and (max-width: 700px){
    #nav li{
       display: block;
    
    }
}