* { 
    margin : 0 auto;
    color : #222; 
    /*background : white; */
    font-family : 'Montserrat', sans-serif;
}

body{
    /*background: white;*/
    color: #222;
    font-family: 'Montserrat', sans-serif;
    
}

.contenu {
   margin: 25px auto 0 auto;
   position: fixed;
   bottom: 0;
   width: 120vh;
   
}

.contenu p {
    padding: 5vw 10vw;
    text-align: justify;
}
footer{
    flex-shrink: 0;
    border-top: 1px dashed;
    width: 100%;
    background: white;
    color: #222;
}

footer h1{
    font-size: 100vw;
    text-align: center;
    margin-top: 20px;
    color: #222;
}
.contenu-footer {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 20px;
    padding: 50px 0 100px;
}

.bloc {
    width: 25%;
    margin: 0 30px;
}

/* contact */
.footer-contact h3,
.footer-services h3,
.footer-horraires h3,
.footer-media h3{
    font-size: 25px;
    padding-bottom: 20px;
}
.footer-contact p{
    padding: 5px 0;
}

/* Services */
.liste-services,
.liste-horraires,
.liste-media {
    list-style: none;
}
.liste-services li{
    padding: 2px 0;
}
.liste-services a {
    text-decoration: none;
    color: #222;
}
.liste-services a:hover {
    color:orangered ;
}

/* media */
.liste-media  {
    position: relative;
    right: 10px;
}

.liste-media img {
    width: 40px;
    margin: 10px 10px;
}
.liste-media a {
    text-decoration: none;
    color: #222;
    display: flex;
    align-items: center;
    font-size: 25px;
}

@media screen and (max-width:1300px){
    .contenu-footer {
        width: 700px;
        flex-wrap: wrap;
    }
    .bloc{
        width: 40%;
        margin: 0 0;
    }
    .bloc:nth-child(1),
    .bloc:nth-child(2){
        margin-bottom: 50px;
    }
}

@media screen and (max-width:800px){
    .contenu-footer {
        width: 320px;
    }
    .bloc {
        width: 300px;
        margin: 30px 30px;
    }
    .bloc:nth-child(1),
    .bloc:nth-child(2) {
        margin-bottom: 30px;
    }
    .bloc:nth-child(1){
        margin-top: 0;
    }
}