*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color : #222; 
  /*background : white;*/
  font-family: 'Bebas Neue', cursive;
}
.items{
	color: white;
	font-weight: bold;
	font-family: 'Taviraj', serif;
	font-size: 19px;	
}

nav{
  width: 100%;
  margin: 20px auto 50px auto;
  background: white;
  padding: 5px 40px;
  letter-spacing: 2px;
}
nav ul{
  list-style: none;
  justify-content: center;
}
nav ul li{
  padding: 15px 0;
  cursor: pointer;
  display: inline;
 
  
}
nav ul li.items{
  position: relative;
  width: auto;
  margin: 0 16px;
  text-align: center;
  order: 3;
}
nav ul li.items:after{
  position: absolute;
  content: '';
  left: 0;
  bottom: 5px;
  height: 2px;
  width: 100%;
  background: orangered;
  opacity: 0;
  transition: all 0.2s linear;
}
nav ul li.items:hover:after{
  opacity: 1;
  bottom: 8px;
}
nav ul li.logo{
  color: white;
  width: 25%;
  cursor: default;
  user-select: none;
  display: inline;
}
nav ul li a{
  color: #222;
  font-size: 18px;
  font-family: 'Bebas Neue', sans-serif;
  
  transition: .4s;
}
li a {
  text-decoration: none;
  color: black;
}

nav ul li:hover a{
  color: orangered;
  text-decoration: none;
}
nav ul li i{
  font-size: 23px;
}
nav ul li.btn{
  display: none;
}
nav ul li.btn.hide i:before{
  content: '\f00d';
}

/* responsive*/
@media all and (max-width: 700px){
  nav{
    padding: 5px 30px;
  }
  nav ul li.items{
    width: 100%;
    display: none;
  }
  nav ul li.items.show{
    display: block;
  }
  nav ul li.btn{
    display: block;
  }
  nav ul li.items:hover{
    border-radius: 5px;
    box-shadow: inset 0 0 5px orangered,
                inset 0 0 10px orangered;
  }
  nav ul li.items:hover:after{
    opacity: 0;
  }
}
.logo img {
width: 20%;

}
nav div{
  float: right;
  margin-top: 18px;
}
