* { 
    margin : 0 auto;
    color : #222; 
    background : white; 
    font-family : 'Montserrat', sans-serif;
}
body {
    margin:0;
    padding:0;
    /*background: #262626;*/
}
.grid{
    max-width: 1000px;
    margin: 0 auto;

}

.bienvenue ul {
    
    align-items: center;
    justify-content: center;
    display: flex;
}

.bienvenue ul li {
    text-align: center;
    list-style: none;
    color: #222;
    font-family: arial;
    font-size: 90px;
    letter-spacing: 15px;
    animation: flash 1.4s linear infinite;
}

@keyframes flash {
    0% {
        color: #222;
        text-shadow: none;
    }
    90%{
        color: #222;
        text-shadow: none;
    }
    100%{
        color: orangered;
        text-shadow: 0 0 7px orangered,00 0 50px orangered;
    }
}

ul li:nth-child(1){
    animation-delay: .1s;
}
ul li:nth-child(1){
    animation-delay: .1s;
}
ul li:nth-child(2){
    animation-delay: .2s;
}
ul li:nth-child(3){
    animation-delay: .3s;
}
ul li:nth-child(4){
    animation-delay: .4s;
}
ul li:nth-child(5){
    animation-delay: .5s;
}
ul li:nth-child(6){
    animation-delay: .6s;
}
ul li:nth-child(7){
    animation-delay: .7s;
}
ul li:nth-child(8){
    animation-delay: .8s;
}
ul li:nth-child(9){
    animation-delay: .9s;
}

.titre h1 {
    margin: 20px;
    text-align: center;
    color:orangered;
    font-family: 'Bebas Neue', cursive;
}


.contenue p{
    text-align: justify;

}


/* video*/
/*@media screen and (max-width:640px){*/
.video{
    text-align: center;
}

.img {
    width: 100%;
    text-align: center;
    border-top: 2px solid orangered;
    
}

li a {
    text-decoration: none;
    color: black;
}

li a:hover {
    text-decoration: underline;
    color:orangered;
}
/*}*/