* { 
    margin : 0 auto;
    color : #222; 
    background : white; 
    font-family : 'Montserrat', sans-serif;
}
h1 {
    text-align: center;
    font-size: 40px;
    font-family: 'Bebas Neue', cursive;
    margin: 0;
    color: orangered;


}
h2 {
    text-align: center;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}
body{
    margin: 0;
    padding: 0;
    font-size: 40px;
}

.container{
    width: 100%;
    margin: 50px auto;
   
}

.content{

        display: flex;
        flex-wrap: wrap;
        flex-direction: row-reverse;
        justify-content: space-around;
        align-items: start;
        align-content: start
}
.item {

        flex: 0 0 auto;
        margin: 2px;
        width: 26%;
        height: 95vh;
        border: 1px solid #222;
        border-radius: 3px;
        text-align: center;
        padding: 20px;
}
.content .item .img img{
    height: 350px;
    width: 80%;
    background-size: cover;
}

.content .item .marque, .nom,.categ,.prix,.promo{
    text-align: justify;
}

.feature {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: start;
    align-content: start
  }

.evidentitem{
    flex: 0 0 auto;
    margin: 2px;
    width: 26%;
    height: 80vh;
    border: 1px solid #222;
    border-radius: 3px;
    text-align: center;
    padding: 20px;
}

.feature .evidentitem .img img{
    height: 350px;
    width: 80%;
    background-size: cover;
}


.feature .evidentitem .marque, .nom,.categ,.prix1,.prixPromo{
    text-align: justify;
}
.prixPromo h2{
    color: red;
}
.btn {
    flex: 0 0 auto;
    display: block;
    margin: 150px auto 0;
    font-size: 20px;
    font-weight: lighter;
    color: #333;
    padding: 25px 80px;
    background: orangered;
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    position: relative;
    box-shadow: 0 6px orangered;
    /*bottom: 30px;*/
}
.btn a{
    text-decoration: none;
    columns: #222;
    background: orangered
}
.btn:hover{
    box-shadow: 0 4px orangered;
    top: 2px;
}
.btn:active{
    box-shadow: 0 0 chocolate;
    top: 6px;
}




@media screen and (max-width:1300px){
    .contenair {
        width: 700px;
        flex-wrap: wrap;
    }
    .contenu,.item{
        width: 40%;
        margin: 0 0;
    }
    .feature,.evidentitem{
        width: 40%;
        margin: 0 0;
    }
    .btn button{
        width: 20%;
        margin: 0 0;
    }
   
}

@media screen and (max-width:800px){
    .contenair {
        width: 700px;
        flex-wrap: wrap;
    }
    .contenu,.item{
        width: 40%;
        margin: 0 0;
    }
    .feature,.evidentitem{
        width: 40%;
        margin: 0 0;
    }
}